
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/Students/index.js" type="text/javascript"></script>
}

<button id="get_students" style="margin-top: 20px;">Че там у нас</button>

<button id="changestudent" style="margin-top: 20px;">Изменим студента</button>




